/* Working with screen at 850px wide */
main{
  max-width: 950px;
  margin: 0 auto;
}
.bio{
  padding: 1%;
  margin: 2% 0;
}
.bio .img-later{
  padding: 4rem;
  margin: 1%;
}
.box{
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}
.fab{
  font-size: 4rem;
}
.fas{
  font-size: 1.25rem;
}
#logo{
  width: 15%;
  max-width: 150px;
  position: absolute;
  top: 1%;
  left: 5%;
  z-index: 1;
}
.jumbotron{
  margin: 4% auto 2% auto;
  background-image: url(../img/Jumbo-1.jpg);
  background-size: cover;
  max-height: 500px;
  padding: 25% 0;
  animation: slideshow 15s ease 0s infinite;
}
@keyframes slideshow {
  0%{
    background-image: url(../img/Jumbo-1.jpg);
    opacity: 0.5;
  }
  3%{
    background-image: url(../img/Jumbo-1.jpg);
    opacity: 1;
  }
  30%{
    background-image: url(../img/Jumbo-1.jpg);
    opacity: 1;
  }
  33%{
    background-image: url(../img/Jumbo-1.jpg);
    opacity: 0.5;
  }
  34%{
    background-image: url(../img/Jumbo-2.jpg);
    opacity: 0.5;
  }
  37%{
    background-image: url(../img/Jumbo-2.jpg);
    opacity: 1;
  }
  63%{
    background-image: url(../img/Jumbo-2.jpg);
    opacity: 1;
  }
  66%{
    background-image: url(../img/Jumbo-2.jpg);
    opacity: 0.5;
  }
  67%{
    background-image: url(../img/Jumbo-3.jpg);
    opacity: 1;
  }
  70%{
    background-image: url(../img/Jumbo-3.jpg);
    opacity: 1;
  }
  96%{
    background-image: url(../img/Jumbo-3.jpg);
    opacity: 1;
  }
  100%{
    background-image: url(../img/Jumbo-3.jpg);
    opacity: 0.5;
  }
}
blockquote{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}
.img-later{
  background-color: #777;
  padding: 5rem;
  text-align: center;
  font-weight: bold;
  color: #ccc;
}
footer{
  background-color: #777;
  margin: 0;
}
footer p{
  margin: 0;
  margin-left: 4%;
  color: #ddd;
}
h4{
  font-size: 1.25rem;
}

@media only screen and (min-width: 1020px) {
  body{
    margin: 0 auto;
    max-width: 1020px;
  }
  .jumbotron{
    padding: 250px 0;
  }
}
